:root {
    --yellow-light: rgb(253, 238, 165);

    --green-prime: #7FBC04;
    --green-sec: #7AA22B;
    --green-dark: #3A7205;
    --yellow-prime: #BCA01B;
    --yellow-sec: #9C8C3E;
    --yellow-dark: #6C5C0E;
    --purple-prime: #572374;
    --purple-sec: #4F345E;
    --purple-dark: #2F143E;
}

* {
    margin: 0;
    padding: 0;
    
    color: var(--yellow-prime);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

h1 {
    color: var(--yellow-prime);
    font-weight: 500;
}

h2 {
    color: var(--yellow-sec);
    font-weight: 500;
}

body {
    background-image: url(images/dark-wood.png);
    background-color: var(--purple-dark);
}

nav {
    background-color: var(--purple-prime);
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    height: 30px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header h1 {
    padding-top: 40vh;
    font-size: 7vh;
}

a {
    text-decoration: none;
}

nav div {
    background-color: var(--purple-sec);
    margin-top: 5px;
    border-radius: 5%;
}

nav div:hover {
    background-color: var(--yellow-prime);
    color: var(--purple-dark);
}

#avatar {
    background-image: url("images/avatar.png");
    width: calc(25px + 3vw);
    height: calc(30px + 3.5vw);
    border: var(--purple-prime) 5px solid;
    border-radius: 10%;
    background-size: calc(25px + 3vw) calc(30px + 3.5vw);
}

#avatar:hover {
    border: var(--yellow-prime) 5px solid;
}

#recent-project:hover, .certificate:hover, #older-projects:hover {
    background-image: url(images/exclusive-paper.png);
    background-color: var(--green-dark);
    cursor: pointer;
}

main {
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    padding: 30px;
    margin: 12px;
    background-color: var(--purple-dark);
    background-image: url(images/fabric-of-squares.png);
    max-width: 50vw;
}

#certificates {
    display: flex;
    flex-direction: row;
}

.certificate {
    padding: 5px;
    max-width: 30vw;
}

#header {
    width: 100%;
    max-width: 100% !important;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cv {
    width:100%;
}

#cv h1, #cv h2 {
    margin-bottom: 10px;
}

#cv h2 {
    margin-top: 10px;
}

footer {
    width: 100%;
    height: 50px;
    background-image: url(images/dark-wood.png);
    background-color: var(--purple-sec);
    display: flex;
    justify-content: center;
}

footer a {
    margin-top: 15px;
}

#github {
    background-image: url(images/github.png);
}

#linkedin {
    background-image: url(images/linkedin.png);
}

.contact-item {
    background-size: 100px;
    width: 100px;
    height: 100px;
    border-radius: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-item:hover {
    background-color: var(--green-prime);
    cursor: pointer;
}

#email {
    background-image: url(images/mail.png);
}

@media only screen and (max-width: 600px) {
    nav {
      display: none;
    }

    main {
        margin-top: 5px;
    }

    section {
        max-width: 100vw;
    }

    .certificate {
        max-width: 100vw;
    }

    #certificates {
        flex-direction: column;
    }

    #header h1 {
        font-size: 6vh;
    }
  }